doctype html
html
  head
  link(rel="stylesheet", href="./assets/css/styles.css")
  body
    .site-wrapper
      header#main-header
        .container
          .row
            .col-12
              h1 mysite